html {
  font-family: "Arial", sans-serif;
  padding: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: crimson;
  color: #FFF;
  font-weight: 600;
  height: 60px;
  align-items: center;
  padding: 0 12px;
}

header h1 {
  font-size: 24px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

header a, nav ul a {
  color: #FFF;
}
